gitbook-docs/integrations/n8n/workflows/emergency-alert-workflow.json
{
  "name": "vetify-emergency-alert",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "emergency-alert",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "formattedPhone",
              "value": "={{($json.ownerPhone.replace(/\\D/g, '').length === 10) ? '52' + $json.ownerPhone.replace(/\\D/g, '') : $json.ownerPhone.replace(/\\D/g, '')}}"
            },
            {
              "name": "emergencyMessage",
              "value": "🚨 *ALERTA DE EMERGENCIA* 🚨\n\n🐾 *Mascota:* {{$json.petName}}\n👤 *Propietario:* {{$json.ownerName}}\n\n⚠️ *Tipo de Emergencia:*\n{{$json.emergencyType}}\n\n👨‍⚕️ *Veterinario a cargo:*\n{{$json.veterinarian}}\n\n📞 *CONTACTO INMEDIATO:*\n{{$json.clinicPhone}}\n\n🏥 *Clínica:* {{$json.clinicName}}\n\n📋 *Instrucciones:*\n{{$json.instructions}}\n\n⏰ *Hora de alerta:* {{new Date().toLocaleString('es-MX')}}\n\n*¡RESPONDE INMEDIATAMENTE!*\n\n_Alerta automática de Vetify CRM_"
            }
          ]
        }
      },
      "id": "process-data",
      "name": "Format Emergency Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$('Format Emergency Message').item.json.formattedPhone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": {
                "body": "={{$('Format Emergency Message').item.json.emergencyMessage}}"
              }
            }
          ]
        }
      },
      "id": "whatsapp-message",
      "name": "Send Emergency WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 200]
    },
    {
      "parameters": {
        "url": "{{$env.VETIFY_API_URL}}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflowType",
              "value": "EMERGENCY_ALERT"
            },
            {
              "name": "status",
              "value": "SUCCESS"
            },
            {
              "name": "executionId",
              "value": "={{$execution.id}}"
            },
            {
              "name": "petName",
              "value": "={{$('Webhook Trigger').item.json.petName}}"
            },
            {
              "name": "phoneNumber",
              "value": "={{$('Format Emergency Message').item.json.formattedPhone}}"
            },
            {
              "name": "emergencyType",
              "value": "={{$('Webhook Trigger').item.json.emergencyType}}"
            },
            {
              "name": "priority",
              "value": "HIGH"
            }
          ]
        }
      },
      "id": "log-success",
      "name": "Log Emergency Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Emergency alert sent successfully",
          "executionId": "={{$execution.id}}",
          "timestamp": "={{new Date().toISOString()}}",
          "petName": "={{$('Webhook Trigger').item.json.petName}}",
          "phoneNumber": "={{$('Format Emergency Message').item.json.formattedPhone}}",
          "emergencyType": "={{$('Webhook Trigger').item.json.emergencyType}}",
          "priority": "HIGH"
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format Emergency Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Emergency Message": {
      "main": [
        [
          {
            "node": "Send Emergency WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Emergency WhatsApp": {
      "main": [
        [
          {
            "node": "Log Emergency Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Emergency Alert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "vetify",
      "name": "Vetify"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 