gitbook-docs/integrations/n8n/workflows/pet-welcome-workflow.json
{
  "name": "vetify-pet-welcome",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "pet-welcome",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "formattedPhone",
              "value": "={{($json.ownerPhone.replace(/\\D/g, '').length === 10) ? '52' + $json.ownerPhone.replace(/\\D/g, '') : $json.ownerPhone.replace(/\\D/g, '')}}"
            },
            {
              "name": "petEmoji",
              "value": "={{$json.petSpecies === 'Perro' ? '🐕' : $json.petSpecies === 'Gato' ? '🐱' : $json.petSpecies === 'Ave' ? '🐦' : $json.petSpecies === 'Conejo' ? '🐰' : '🐾'}}"
            },
            {
              "name": "welcomeMessage",
              "value": "🎉 ¡Bienvenido a {{$json.clinicName}}!\n\n{{$('Process Data').item.json.petEmoji}} *{{$json.petName}}* ya está registrado en nuestro sistema Vetify.\n\n✅ Recibirás recordatorios automáticos de vacunas\n✅ Historial médico digitalizado\n✅ Comunicación directa con el veterinario\n\n¿Alguna pregunta? Solo responde a este mensaje.\n\n_Mensaje automático de Vetify CRM_"
            }
          ]
        }
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$('Process Data').item.json.formattedPhone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": {
                "body": "={{$('Process Data').item.json.welcomeMessage}}"
              }
            }
          ]
        }
      },
      "id": "whatsapp-message",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 200]
    },
    {
      "parameters": {
        "url": "{{$env.VETIFY_API_URL}}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflowType",
              "value": "PET_WELCOME"
            },
            {
              "name": "status",
              "value": "SUCCESS"
            },
            {
              "name": "petName",
              "value": "={{$('Webhook Trigger').item.json.petName}}"
            },
            {
              "name": "ownerPhone",
              "value": "={{$('Process Data').item.json.formattedPhone}}"
            },
            {
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}"
            },
            {
              "name": "executionId",
              "value": "={{$execution.id}}"
            }
          ]
        }
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Pet welcome message sent successfully",
          "executionId": "={{$execution.id}}",
          "timestamp": "={{new Date().toISOString()}}",
          "petName": "={{$('Webhook Trigger').item.json.petName}}",
          "phoneNumber": "={{$('Process Data').item.json.formattedPhone}}"
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "vetify",
      "name": "Vetify"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 