docs/n8n-workflows/vaccination-reminder-workflow.json
{
  "name": "vetify-vaccination-reminder",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "vaccination-reminder",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "formattedPhone",
              "value": "={{($json.ownerPhone.replace(/\\D/g, '').length === 10) ? '52' + $json.ownerPhone.replace(/\\D/g, '') : $json.ownerPhone.replace(/\\D/g, '')}}"
            },
            {
              "name": "reminderMessage",
              "value": "💉 *Recordatorio de Vacunación*\n\n🐾 *{{$json.petName}}* necesita su vacuna:\n📋 *Tipo:* {{$json.vaccinationType}}\n📅 *Fecha límite:* {{$json.dueDate}}\n\n¿Quieres agendar una cita?\n📞 Llámanos: {{$json.clinicPhone}}\n💬 O responde: \"SÍ\" para confirmar\n\n¡Tu mascota te lo agradecerá! 🐕❤️\n\n_{{$json.clinicName}} - Vetify CRM_"
            }
          ]
        }
      },
      "id": "process-data",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$('Format Message').item.json.formattedPhone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": {
                "body": "={{$('Format Message').item.json.reminderMessage}}"
              }
            }
          ]
        }
      },
      "id": "whatsapp-message",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 200]
    },
    {
      "parameters": {
        "url": "{{$env.VETIFY_API_URL}}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflowType",
              "value": "VACCINATION_REMINDER"
            },
            {
              "name": "status",
              "value": "SUCCESS"
            },
            {
              "name": "petName",
              "value": "={{$('Webhook Trigger').item.json.petName}}"
            },
            {
              "name": "ownerPhone",
              "value": "={{$('Format Message').item.json.formattedPhone}}"
            },
            {
              "name": "vaccinationType",
              "value": "={{$('Webhook Trigger').item.json.vaccinationType}}"
            },
            {
              "name": "dueDate",
              "value": "={{$('Webhook Trigger').item.json.dueDate}}"
            },
            {
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}"
            },
            {
              "name": "executionId",
              "value": "={{$execution.id}}"
            }
          ]
        }
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Vaccination reminder sent successfully",
          "executionId": "={{$execution.id}}",
          "timestamp": "={{new Date().toISOString()}}",
          "petName": "={{$('Webhook Trigger').item.json.petName}}",
          "phoneNumber": "={{$('Format Message').item.json.formattedPhone}}",
          "vaccinationType": "={{$('Webhook Trigger').item.json.vaccinationType}}"
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reminder": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "vetify",
      "name": "Vetify"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 